{% extends 'bases/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block stylesheets %}
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<div class="h100-50 d-flex justify-content-start align-items-start flex-column">
    <div class="container shadow p-3 rounded w-100 mt-3">
        <h4 class="mb-3 text-syn"> Personal Information </h4>
        <form action="" class="row w-100" id="userForm" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <div class="col-12 bg-danger px-1 rounded error">
                    <label for="" class="syn-label text-light" > {{error}} </label>
                    </div>
                    {% endfor %}
            {% endif %}
            {% for f in form %}
            <div class="col-6 mb-3">
                <label for="">{{f.label}} </label>   
            </div>
            <div class="col-6 mb-3">
                {{f|add_class:"form-control"}}
                {% for err in f.errors %}
                <label for="" class="text-danger small-txt"> {{err}} </label>
                {% endfor %}
            </div>
            {% endfor %}
            <button class="btn btn-primary"> Change password </button>

        </form>
    </div>
</div>
{% endblock %}


{% block scripts %}
{% endblock %}

{% block js %}
{% endblock %}