{% extends 'delivery/driver_app_base.html' %}
{% load static %}
{% block stylesheet %}
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css' rel='stylesheet' />

{% endblock %}

{% block css %}
<style>
    .trip-div{
        border-radius: 10px;
        background-color: #fff;
        padding: 10px;
        margin-bottom: 10px;
        width:100%;
        max-width: 350px;
        cursor: pointer;
    }
    p{
        color: rgb(34, 34, 34);
        font-size: 14px;
    }
    #mapid{
        width: 100%;
        height: 310px;
    }
</style>
{% endblock %}

{% block body %}
<a href="{% url 'delivery:driver_trips' id=id %}" class="text-syn h4" style="    position: absolute;
right: 80px;"><i class="fas fa-arrow-alt-circle-left"></i></a>
<h4 class="text-syn text-center">
    Orders
</h4>
<div id="mapid" width="100%" height="100%">

</div>
<div class="d-flex flex-column w-100 justify-content-start align-items-center py-2" style="max-height: calc(100vh - 110px);overflow-y: auto;">
    {% if trip %}
    {% for order in trip.order_set.all %}
    <div class="d-flex flex-wrap trip-div justify-content-between align-items-start shadow border" id="{{order.id}}">
        <div>
            <p class="m-0 mb-1 text-grey"> Address </p>
            <p class="m-0 mb-1"> {{order.address}} </p>
        </div>
        {% if order.status == 3 %}
        <div class="d-flex w-100 justify-content-center mt-3">
            <button class="btn btn-success"> Completed </button>
        </div>
        {% else %}
        <div class="d-flex w-100 justify-content-between mt-3">
        <button class="btn btn-success" onclick="change_status(3,'{{order.id}}')"> Complete </button>
        <button class="btn btn-danger" onclick="change_status(0,'{{order.id}}')"> Cancel </button>
        <a class="btn btn-primary" href="http://maps.google.com/maps?saddr={{trip.start_latitude}},{{trip.start_longitude}}&daddr={{order.latitude}},{{order.longitude}}" target="_blank"> Map </a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
    {% endif %}
</div>
{% endblock %}


{% block scripts %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="crossorigin=""></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js'></script>
<script src="{% static 'js/flexiblePolyline.js' %}"></script>

{% endblock %}

{% block js %}

<script>

    mapboxgl.accessToken = '{{mapboxApiKey}}'

    var map = new mapboxgl.Map({
        container: 'mapid',
        style: 'mapbox://styles/mapbox/streets-v11',//'mapbox://styles/mapbox/streets-v11',//'mapbox://styles/cosmoboiy/ckug8xffi8jnq17prcevd5q9o',
        center: [8.699088662141811,50.301355799999996],
        zoom: 8
    });

    map.on('load',()=>{
        get_layers()
    })

    const get_layers = (trip)=>{
        orders_geojson = {
            "type": "FeatureCollection",
            "features": []
        }

        routes_geojson = {
            "type": "FeatureCollection",
            "features": []
        }

        driver_geojson = {
            "type": "FeatureCollection",
            "features": []
        }
        {% for order in trip.order_set.all %}
            orderData = {
                "type": "Feature",
                "properties": {number:'{{order.stop_id}}'},
                "geometry": {
                    "type": "Point",
                    "coordinates": [parseFloat("{{order.longitude}}"),parseFloat("{{order.latitude}}")]
                }
            }   
            orders_geojson.features.push(orderData)
        {% endfor %}
        polyline = decode('{{trip.polyline}}')        
        let routeData = {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "LineString",
                    "coordinates": polyline.polyline
                }
        }
        routes_geojson.features.push(routeData)
        
        let driverData = {
            "type": "Feature",
                "properties": {},
                "geometry": {
                    "type": "Point",
                    "coordinates": [parseFloat("{{trip.start_longitude}}"),parseFloat("{{trip.start_latitude}}")]
                }
        }

        driver_latlon = [parseFloat("{{trip.start_longitude}}"),parseFloat("{{trip.start_latitude}}")]

        driver_geojson.features.push(driverData)

        add_routes_layer(routes_geojson)
        add_orders_layer(orders_geojson)
        add_drivers_layer(driver_geojson)
    }

    const add_orders_layer = (data)=>{
        map.addSource('ordersSource', {
        'type': 'geojson',
        'data':data
        });

        if (!map.hasImage("order_img")){
            let url = 'https://api.tiles.mapbox.com/v3/marker/pin-s+126caa.png';
            map.loadImage(url, function(err, image) {
            if (err) {
            console.error('err image', err);
            return;
            }
            map.addImage('order_img', image);
            map.addLayer({
                'id': 'orders',
                'type': 'symbol',
                'source': 'ordersSource',
                'layout': {
                    'icon-allow-overlap': true,
                    'text-allow-overlap':true,
                    'icon-image': 'order_img',
                    // get the title name from the source's "title" property
                    'text-field': ['get', 'number',],
                    'text-font': [
                    'Open Sans Semibold',
                    'Arial Unicode MS Bold'
                    ],
                    'text-size': 11,
                    'text-offset': [0, 0.25],
                    'text-anchor': 'top'
                    }
            });
        })

        
        }
    }

    const add_drivers_layer = (data)=>{
        map.addSource('driversSource', {
        'type': 'geojson',
        'data':data
        });
        if (!map.hasImage("driver_img")){
            let url = '{% static "img/Ellipse.png" %}';
            map.loadImage(url, function(err, image) {
            if (err) {
            console.error('err image', err);
            return;
            }
            map.addImage('driver_img', image);
            map.addLayer({
                'id': 'drivers',
                'type': 'symbol',
                'source': 'driversSource',
                'layout': {
                    'icon-allow-overlap': true,
                    'text-allow-overlap':true,
                    'icon-image': 'driver_img',
                    }
                });
            })  
        }
        map.flyTo({
            center: driver_latlon
        });
    }

    const add_routes_layer = (data)=>{
        map.addSource('routesSource', {
            'type': 'geojson',
            'data':data
        });

        map.addLayer({
            'id': 'routes',
            'type': 'line',
            'source': 'routesSource',
            'layout': {
                'line-join': 'round',
                'line-cap': 'round'
            },
            'paint': {
                'line-color': '#126caa',
                // '#888',
                'line-width': 5
            }
        });
    }


    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    change_status = (status,id) => {
        $.ajax({
            url:"{% url 'delivery:driver_ind_trip' id=id trip_id=trip_id %}",
            method:"POST",
            data:{
                status:status,
                id:id
            },
            success:function(data){
                el = document.getElementById(`${id}`)
                if (status == 0){
                    el.remove()
                }
                else if(status == 3){
                    el.innerHTML = `
                    <div>
                        <p class="m-0 mb-1 text-grey"> Address </p>
                        <p class="m-0 mb-1"> ${data.address} </p>
                    </div>
                    <div class="d-flex w-100 justify-content-center mt-3">
                        <button class="btn btn-success"> Completed </button>
                    </div>
                    `
                }
            },
            error:function(data){
                console.log(data);
            }
        })
    }
</script>

{% endblock %}