@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --darkBlue:#00204A;
    --mediumBlue:#005792;
    --blue: #00BBF0;
    --synBlue:#126caa;
    --lightBlue: #EFFBFF;
    --white: #ffffff;
    --grey:#8c8c8c;
    --synBlueHover:#116196;
    --maxHeight:calc(100vh - 50px);
}
body{
    font-family: 'poppins';
}
.logo{
    height: 65px;
    width: 190px;
}
.h-50p{
    height: 50px;
}
.h-70p{
    height: 70px;
}
.h100-70{
    min-height:calc(100vh - 70px)
}
.h100-50{
    min-height:var(--maxHeight)
}
.text-syn{
    color: var(--synBlue);
}
.text-grey{
    color: var(--grey);
}
.fw-600{
    font-weight: 600;
}
.link-grey{
    color: var(--grey);
    text-decoration: none
}
.link-grey:hover{
    color: var(--grey);
    text-decoration: underline
}
.btn-primary{
    background-color: var(--synBlue);
    border-color: var(--synBlue);
}
.btn-primary:hover,.btn-primary:focus{
    background-color: var(--synBlueHover);
    border-color: var(--synBlueHover);
}
.btn-danger{
    background-color: #a02622;
    border-color: #a02622
}
.btn-danger:hover{
    background-color: #af3834;
    border-color: #af3834;
}
.bg-primary{
    background-color: var(--synBlue) !important;
}
.hide-div{
    display: none;
}
/* ::-webkit-scrollbar {
    display: none;
} */

.form-control:focus{
    box-shadow:none;
}
.pac-container{
    z-index: 9999;
}

label[id ^= "error_"]{
    font-size: 11px;
}


.dropdown-item{
    cursor: pointer;
}

.syn-link{
    position: relative;
    color: #126caa;
    text-decoration: none;
    cursor: pointer;
}
.syn-link:hover::before{
    color: #126caa;
    text-decoration: none;
}
.syn-link.active{
    color: #126caa;
    font-weight: 500;
}
.syn-link.active::before, .syn-link:hover::before{
    position: absolute;
    content:"";
    color: #126caa;
    width: 100%;
    bottom: -13px;px;
    border-top:2px solid #126caa;        
}

.small-txt{
    font-size: 14px;
}
.cursor-pointer{
    cursor: pointer;
}
.hide-div{
    display: none;
}








.hamburger{
    display: block ;
    position: relative;
    z-index: 1;
    user-select: None;
    appearance: none;
    border:none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span{
    display: block;
    width: 33px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #2b3035;
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;

}

.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background:#126caa;
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -4.5px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform:translate(3px)
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}
.hamburger.is-active:hover span{
    background: #126caa;
}

.mobile-nav{
    position: fixed;
    top:0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display:block;
    z-index: 111;
    background:white;
    transition: 0.4s;
    margin-top: 50px;
}

.mobile-nav.is-active,.sub-section.is-active{
    left:0;
}
.mobile-nav li{
    cursor: pointer;

}
.mobile-nav li a {
    text-decoration: none;
    color: #126caa !important;
    font-weight: 500;
    font-size: 21px;
}

.sub-section{
    position: fixed;
    top:0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display:block;
    z-index: 100;
    background:white;
    transition: 0.4s;
    margin-top: 70px;
}
.close-arrow-mobile{
    position: absolute;
    right: 8px;
    font-size: 21px;
    cursor: pointer;

}
.mobile-nav ul{
    list-style-type: none;
    list-style: none;

}


@media (min-width:992px) {
    .hamburger{
        display:none;
    }
    .menu{
        display:block;
    }
}

@media screen and (max-width:767px){
    .mobile-hide{
        display: none !important;
    }
    
}